* {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

body {
  margin: 0;
}

main {
  background-image: url("/assets/background.jpg");
}

nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav ul {
  padding-inline-start: 20px;
}

nav ul li {
  list-style: none;
}

nav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

nav a:hover {
  color: #f1f1f1;
}

.content {
  color: #fffbeb;
  margin-left: 200px;
  opacity: 95%;
  padding: 16px;
}

footer {
  bottom: 0;
  background-color: #111;
  color: #818181;
  margin-left: 200px;
  padding: 16px;
}

footer p {
  margin: 0;
}

/* ----------------- PAGE NEWS -----------------*/

.apex-pro-league {
  /*display: flex;
  flex-direction: column;*/
  margin: 16px 16px 16px 16px;
  padding: 32px 32px 32px 32px;
  background-color: #474e68;
  border-radius: 6px;
}

.apex-pro-league-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  position: relative;
  margin-top: 32px;
}

.apex-pro-league-container .scoreCardContainer {
  background-color: #404258;
  border-radius: 6px;
  padding: 0.3rem 0.3rem 0.5rem 0.5rem;
}

.apex-pro-league-container .scoreCardContainer:hover {
  box-shadow: 2px 2px 12px 2px rgb(0 0 0 / 50%);
  background-color: #6b728e;
  cursor: pointer;
}

.scoreCardContainer .teamContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreCardContainer .date {
  display: flex;
  flex-direction: row-reverse;
  height: 8px;
}

.scoreCardContainer .statusContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 8px;
  margin-right: 8px;
}

.teamContainer .logo {
  margin-right: 0;
}

.teamContainer .teamName {
  width: 96px;
  max-width: 100%;
  height: auto;
  margin-left: 4px;
}

.teamContainer .score {
  margin-right: 4px;
  margin-left: 4px;
}

.logo img {
  width: 64px;
  max-width: 100%;
  height: auto;
}

.patch-update {
  /*display: flex;
  flex-direction: column;*/
  margin: 16px 16px 16px 16px;
  padding: 32px 32px 32px 32px;
  background-color: #474e68;
  border-radius: 6px;
}

.patch-update-container {
  display: flex;
  background-color: #404258;
  position: relative;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 16px;
  margin-bottom: 32px;
  border-radius: 6px;
  justify-content: center;
}

.patch-update-container:hover {
  background-color: #6b728e;
  color: #f1f1f1;
  box-shadow: 2px 2px 12px 2px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.patch-update-container h3 {
  margin: 16px;
}

.patch-update-container p {
  margin: 16px;
}

.patch-update-container .section-video {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: #fffbeb;
  padding: 16px;
}

.introduction-section {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  text-shadow: 0px 0px 6px rgb(0 0 0 / 16%);
  margin-left: 200px;
  position: relative;
}

.center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.bg {
  opacity: 0.5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  width: 100%;
  height: 100vh;
}

.bg > img {
  width: 100%;
}

.courses-header {
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 50px;
  gap: 50px;
  padding: 50px 130px;
  align-items: center;
  padding-left: 220px;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
  }
  nav a {
    float: left;
  }
  .content {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  nav a {
    text-align: center;
    float: none;
  }
}
