@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: poppins;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #3d3d3d;
}

main {
  background-image: url("/assets/background.jpg");
}

nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav ul {
  padding-inline-start: 20px;
}

nav ul li {
  list-style: none;
}

nav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

nav a:hover {
  color: #f1f1f1;
}

.content {
  color: #fffbeb;
  margin-left: 200px;
  opacity: 95%;
  padding: 16px;
}

footer {
  bottom: 0;
  background-color: #111;
  color: #818181;
  padding-left: 200px;
  width: 100%;
}

footer p {
  margin: 0;
}

footer img {
  height: 75px;
  width: 75x;
}

/* ----------------- PAGE NEWS -----------------*/

.apex-pro-league {
  /*display: flex;
  flex-direction: column;*/
  margin: 16px 16px 16px 16px;
  padding: 32px 32px 32px 32px;
  background-color: #474e68;
  border-radius: 6px;
}

.apex-pro-league-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  position: relative;
  margin-top: 32px;
}

.apex-pro-league-container .scoreCardContainer {
  background-color: #404258;
  border-radius: 6px;
  padding: 0.3rem 0.3rem 0.5rem 0.5rem;
}

.apex-pro-league-container .scoreCardContainer:hover {
  box-shadow: 2px 2px 12px 2px rgb(0 0 0 / 50%);
  background-color: #6b728e;
  cursor: pointer;
}

.scoreCardContainer .teamContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreCardContainer .date {
  display: flex;
  flex-direction: row-reverse;
  height: 8px;
}

.scoreCardContainer .statusContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 8px;
  margin-right: 8px;
}

.teamContainer .logo {
  margin-right: 0;
}

.teamContainer .teamName {
  width: 96px;
  max-width: 100%;
  height: auto;
  margin-left: 4px;
}

.teamContainer .score {
  margin-right: 4px;
  margin-left: 4px;
}

.logo img {
  width: 64px;
  max-width: 100%;
  height: auto;
}

.patch-update {
  /*display: flex;
  flex-direction: column;*/
  margin: 16px 16px 16px 16px;
  padding: 32px 32px 32px 32px;
  background-color: #474e68;
  border-radius: 6px;
}

.patch-update-container {
  display: flex;
  background-color: #404258;
  position: relative;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 16px;
  margin-bottom: 32px;
  border-radius: 6px;
  justify-content: center;
}

.patch-update-container:hover {
  background-color: #6b728e;
  color: #f1f1f1;
  box-shadow: 2px 2px 12px 2px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.patch-update-container h3 {
  margin: 16px;
}

.patch-update-container p {
  margin: 16px;
}

.patch-update-container .section-video {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: #fffbeb;
  padding-left: 250px;
}

/* ----------------- MAIN -----------------*/

header nav .login li {
  padding-left: 25px;
}

header .login-icon::before {
  content: url(/assets/icon-login.png);
  position: absolute;
  transform: translate(-10px, 10px);
}

header .signup-icon::before {
  content: url(/assets/icon-sign.png);
  position: absolute;
  transform: translate(-10px, 10px);
}
header .home-icon::before {
  content: url(/assets/icon-home.png);
  position: absolute;
  transform: translate(0, 10px);
}

header .course-icon::before {
  content: url(/assets/icon-courses.png);
  position: absolute;
  transform: translate(0, 10px);
}

header .news-icon::before {
  content: url(/assets/icon-news.png);
  position: absolute;
  transform: translate(0, 10px);
}

header .community-icon::before {
  content: url(/assets/icon-community.png);
  position: absolute;
  transform: translate(0, 10px);
}

/* hr {
  color: black;
  margin: 3rem auto;
  margin-bottom: 1.7rem;
  width: 87%;
} */

.logo-nav {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 7px;
  padding-bottom: 5px;
}

.login {
  border-bottom: 2px solid white;
  padding-top: 7px;
  padding-bottom: 5px;
}

.logo-nav > img {
  height: 75px;
  width: 75px;
  padding-left: 55px;
}

.introduction-section {
  background-size: 100%;
  /* background-position: center;
  background-repeat: no-repeat; */
  color: black;
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  text-shadow: 0px 0px 6px rgb(0 0 0 / 16%);
  padding-left: 250px;
  position: relative;
  margin-bottom: 5em;
}

/* .center {
  display: inline-block;
  position: relative;
  bottom: 100px;
  right: 270px;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  max-width: fit-content;
} */

.bg {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  padding-top: 100px;
}

.bg > img {
  width: 87%;
  border: 2px solid white;
}

/* .courses-header {
  margin-top: 0;
  padding-top: 0;
} */

.courses-header > h2 {
  padding-inline-start: 250px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: left;
  gap: 50px;
  padding: 10px;
  padding-left: 250px;
  padding-bottom: 5em;
  width: 100%;
  border-bottom: 2px solid white;
}

.box1 {
  border: 2px solid white;
}

.box1 h3 {
  border-top: 2px solid white;
  margin-top: 0;
}

.box1 h3,
p {
  padding-left: 10px;
  padding-top: 5;
  color: white;
}

.box1 img {
  width: 350px;
}

/* .box-box1 {
  max-height: 200px;
  max-width: 200px;
  height: fit-content;
  width: fit-content;
}

.box-box2 {
  max-height: 200px;
  max-width: 200px;
  height: fit-content;
  width: fit-content;
}

.box-box3 {
  max-height: 200px;
  max-width: 200px;
  height: fit-content;
  width: fit-content;
} */

.form-section {
  padding-inline-start: 250px;
  padding-inline-end: auto;
  padding-bottom: 1em;
  color: white;
}

.community {
  padding-inline-start: 200px;
  margin-top: 25px;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
}

.community-img > img {
  /* background-size: ;
  background-position: center center;
  background-repeat: no-repeat; */
  color: black;
  width: 95%;
  border: 2px solid white;
}

.form-section > h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 1000;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 5px;
}

.form-submit {
  margin-top: 10px;
  width: 10%;
}
